@model MyClass.Model.Menus
<li class="nav-item submenu dropdown">
    <a href="@Model.Link" class="nav-link dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">@Model.Name</a>
</li>